In [23]:
import os
import json

import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import TimeFrame
import requests
import time

In [3]:
os.chdir("..")

In [4]:
os.getcwd()

'/Users/rachata/Desktop/SummerExtraProject/TradingBot'

In [5]:
with open('CONFIG.json') as f:
    CONFIG = json.load(f)
    
CONFIG['KEYS']

{'api_key': 'PK42O6ZKJXD0E21ND9F9',
 'api_secret': 'Uxo3MG5E1cRovH2MMNXj0kKJSDFq9gszSk8c4hfV',
 'base_url_paper': 'https://paper-api.alpaca.markets'}

# 1 - Getting Historical Price

In [6]:
api = tradeapi.REST(
    base_url = CONFIG['KEYS']['base_url_paper'],
    key_id = CONFIG['KEYS']['api_key'],
    secret_key = CONFIG['KEYS']['api_secret']
)

In [7]:
SYMBOL = 'AAPL'
api.get_bars(SYMBOL,TimeFrame.Minute,"2022-05-27","2022-05-27").df

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-05-27 08:00:00+00:00,143.99,143.99,143.13,143.2600,3149,66,143.363315
2022-05-27 08:01:00+00:00,143.25,143.25,143.20,143.2300,1537,32,143.212531
2022-05-27 08:02:00+00:00,143.30,143.30,143.00,143.2000,3426,77,143.147294
2022-05-27 08:03:00+00:00,143.07,143.07,143.07,143.0700,492,24,143.078841
2022-05-27 08:04:00+00:00,143.07,143.14,143.02,143.1200,2023,49,143.069194
...,...,...,...,...,...,...,...
2022-05-27 23:55:00+00:00,149.99,150.00,149.99,150.0000,1576,46,149.998246
2022-05-27 23:56:00+00:00,149.99,150.00,149.99,150.0000,2265,37,149.995848
2022-05-27 23:57:00+00:00,150.00,150.00,149.99,149.9901,10061,149,149.998735
2022-05-27 23:58:00+00:00,149.99,150.00,149.99,149.9900,8045,78,149.995659
2022-05-27 23:59:00+00:00,149.99,150.00,149.99,150.0000,20153,167,149.998894

In [8]:
api.get_quotes(SYMBOL,"2022-05-27","2022-05-27",100).df

,ask_exchange,ask_price,ask_size,bid_exchange,bid_price,bid_size,conditions,tape
timestamp,,,,,,,,
2022-05-27 08:00:00.001394061+00:00,,0.00,0,Q,142.95,4,[Y],C
2022-05-27 08:00:00.001488705+00:00,Q,143.57,4,Q,142.95,4,[R],C
2022-05-27 08:00:00.007396+00:00,Q,143.57,4,K,143.50,1,[R],C
2022-05-27 08:00:00.007396+00:00,Q,143.57,4,K,143.78,1,[R],C
2022-05-27 08:00:00.007396+00:00,Q,143.57,4,K,143.10,1,[R],C
...,...,...,...,...,...,...,...,...
2022-05-27 08:00:55.471981335+00:00,Q,143.30,6,K,143.00,2,[R],C
2022-05-27 08:00:55.474123264+00:00,P,143.13,5,K,143.00,2,[R],C
2022-05-27 08:00:55.516613376+00:00,P,143.13,4,K,143.00,2,[R],C
2022-05-27 08:00:55.592892679+00:00,P,143.13,4,Q,143.05,4,[R],C
2022-05-27 08:00:55.686032384+00:00,P,143.13,1,Q,143.05,4,[R],C

In [9]:
api.get_trades(SYMBOL,"2022-05-27","2022-05-27",100).df

,exchange,price,size,conditions,id,tape
timestamp,,,,,,
2022-05-27 04:03:20.021000+00:00,D,143.92,5,"[@, T, I]",648,C
2022-05-27 04:12:28.109000+00:00,D,143.92,1,"[@, T, I]",655,C
2022-05-27 04:12:43.183000+00:00,D,143.92,1,"[@, T, I]",622,C
2022-05-27 04:12:58.334000+00:00,D,143.92,10,"[@, T, I]",620,C
2022-05-27 04:14:51.450000+00:00,D,143.92,1,"[@, T, I]",647,C
...,...,...,...,...,...,...
2022-05-27 08:00:00.156996352+00:00,P,143.48,5,"[@, T, I]",2,C
2022-05-27 08:00:00.156996352+00:00,P,143.48,10,"[@, T, I]",3,C
2022-05-27 08:00:00.761629396+00:00,Q,143.47,3,"[@, F, T, I]",1,C
2022-05-27 08:00:01.417766846+00:00,Q,143.31,2,"[@, F, T, I]",2,C
2022-05-27 08:00:02.404720015+00:00,Q,143.41,1,"[@, F, T, I]",3,C

In [10]:
api.get_crypto_bars('BTCUSD',TimeFrame.Minute,"2022-05-27","2022-05-27").df

,exchange,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,,
2022-05-27 05:00:00+00:00,CBSE,28887.65,28910.99,28868.21,28898.31,10.766761,406,28888.590629
2022-05-27 05:00:00+00:00,ERSX,28894.70,28896.10,28894.70,28896.10,0.080000,2,28895.400000
2022-05-27 05:00:00+00:00,FTXU,28891.00,28899.00,28887.00,28899.00,0.042500,17,28892.705882
2022-05-27 05:01:00+00:00,CBSE,28897.47,28929.81,28897.47,28900.90,5.399255,348,28914.861303
2022-05-27 05:02:00+00:00,CBSE,28900.89,28924.24,28876.14,28877.29,12.812931,364,28907.329291
...,...,...,...,...,...,...,...,...
2022-05-28 04:54:00+00:00,FTXU,28819.00,28860.00,28819.00,28860.00,2.997600,7,28832.020783
2022-05-28 04:56:00+00:00,ERSX,28827.20,28827.20,28827.20,28827.20,0.001000,1,28827.200000
2022-05-28 04:56:00+00:00,FTXU,28834.00,28834.00,28834.00,28834.00,0.100000,1,28834.000000
2022-05-28 04:57:00+00:00,FTXU,28837.00,28837.00,28828.00,28828.00,0.282000,3,28830.040071
2022-05-28 04:59:00+00:00,ERSX,28800.10,28800.10,28798.60,28798.60,0.004100,2,28799.734146

In [11]:
api.get_crypto_quotes('BTCUSD',"2022-05-27","2022-05-27",100).df

,exchange,bid_price,bid_size,ask_price,ask_size
timestamp,,,,,
2022-05-27 05:00:00.162276096+00:00,FTXU,28805.32,0.394500,28979.68,0.708300
2022-05-27 05:00:00.183609856+00:00,FTXU,28805.32,0.394500,28979.68,0.708300
2022-05-27 05:00:00.184986672+00:00,ERSX,28802.53,0.173072,28982.79,0.173034
2022-05-27 05:00:00.184986672+00:00,ERSX,28801.64,0.173080,28982.79,0.173034
2022-05-27 05:00:00.214259968+00:00,FTXU,28805.32,0.394500,28979.68,0.708300
...,...,...,...,...,...
2022-05-27 05:00:03.113081856+00:00,FTXU,28802.33,0.002500,28978.68,4.216800
2022-05-27 05:00:03.120612215+00:00,ERSX,28789.67,0.173147,28973.26,0.173091
2022-05-27 05:00:03.120733202+00:00,ERSX,28789.67,0.173147,28971.15,0.173104
2022-05-27 05:00:03.136867093+00:00,ERSX,28788.18,0.173147,28970.15,0.173109
2022-05-27 05:00:03.136867093+00:00,ERSX,28789.67,0.173147,28970.15,0.173109

# 2 - Getting Live Data

In [24]:
from alpaca_trade_api.stream import Stream

async def trade_callback(t):
    print('trade',t)
    
stream = Stream(base_url = CONFIG['KEYS']['base_url_paper'],
    key_id = CONFIG['KEYS']['api_key'],
    secret_key = CONFIG['KEYS']['api_secret'])

In [21]:
async def trade_callback(t):
    print('trade', t)


async def quote_callback(q):
    print('quote', q)


# Initiate Class Instance
stream = Stream(base_url = CONFIG['KEYS']['base_url_paper'],
    key_id = CONFIG['KEYS']['api_key'],
    secret_key = CONFIG['KEYS']['api_secret'])
# subscribing to event
stream.subscribe_crypto_trades(trade_callback, 'BTCUSD')


stream.run()

/Users/rachata/miniforge3/lib/python3.9/site-packages/pygments/regexopt.py:78: RuntimeWarning: coroutine 'Stream._run_forever' was never awaited
  for group in groupby(strings, lambda s: s[0] == first[0])) \
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

RuntimeError: asyncio.run() cannot be called from a running event loop

In [22]:
stream.stop_ws()